{% extends 'base_layout.html' %}
  {% block content%}
    <h1>Lista de Concursos</h1>
    <div>
      <p>Bienvenido! Estimado Usuario : {{ nombre_usuario }}  {{ apellido_usuario }} </p>
      <p>Esta es la lista de concursos</p>
    </div>
    <div>
      <table class="table table-hover table-sm">
        <thead class="thead-inverse">
          <tr>
            <th>Nombre Concurso</th>
            <th>Borrar Concurso</th>
            <th>Editar Concurso</th>
            <th>Mensaje a Locutores</th>
          </tr>
        </thead>
        <tbody>
          {% for concurso in concursos%}
            <tr>
              <td><a href="{% url 'WebConcursos:detalle_concurso' id_concurso=concurso.id %}">{{ concurso.nombre }}</a></td>
              <td><a href="{% url 'WebConcursos:borrar' id_concurso=concurso.id %}">Borrar</a></td>
              <td><a href="{% url 'WebConcursos:editar' id_concurso=concurso.id %}">Editar</a></td>
              <td><a href="{% url 'WebConcursos:enviaremail' id_concurso=concurso.id %}">Enviar email</a><p>Envie este concurso a su lista de locutores<p></td>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class = "opciones">
       <form class ='formularios' method='get' action="{% url 'WebConcursos:crear_concurso' %}">
        {% csrf_token %}
          <input class="btn btn-primary my-2" type='submit' value='Crear Concurso'/>
      </form>
      <form method='get' action="{% url 'WebConcursos:logout' %}">
        {% csrf_token %}
        <input class="btn btn-primary my-2" type='submit' value='Logout'/>
      </form>
      <form method='get' action="{% url 'WebConcursos:crear_locutor_lista' %}">
        {% csrf_token %}
        <input class="btn btn-primary my-2" type='submit' value='Crear Locutor en Lista'/>
      </form>
    </div>
{% endblock%}
